html {
    background: #f1f0f0;
    color: #303030;
    font: 16px system-ui;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

body > * {
    padding-left: 20px;
    padding-right: 20px;
}

header {
    flex: none;
    display: flex;
    align-items: center;
    background: #fff9f0;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 20px;
    padding-bottom: 20px;
}

header > h1 {
    font: bold 20px system-ui;
    margin-left: 18px;
}

main {
    flex: auto;
}

footer {
    flex: none;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

button {
    font: 16px system-ui;
    border: 0;
    box-shadow: 0px 1px 3px rgb(0,0,0,0.5);
    cursor: pointer;
    margin: 0 0 1px;
    padding: 10px 24px;
}

button:hover {
}

button:active {
    box-shadow: 0px 1px 2px rgb(0,0,0,0.5);
    margin: 1px 0 0;
}

button:focus {
    outline: 0;
}
