<!DOCTYPE html>
<html>
    <head>
        <title>{{ article.title }}</title>
        <link rel="stylesheet" type="text/css" href="qrc:/pages/assets/aboutReader.css">
        <script type="text/javascript" src="qrc:/node_modules/node_modules/@mozilla/readability/Readability.js"></script>
        <script type="text/javascript" src="qrc:/pages/assets/qwebchannel.js"></script>
        <script type="text/javascript" src="qrc:/pages/assets/readerPage.js"></script>
    </head>
    <body class='loaded'>
      <div class="top-anchor"></div>
      <div class='container' dir="{{ article.dir }}">
        <a class="domain reader-domain" href="{{ article.url }}">{{ article.siteName }}</a>
        <div class="domain-border"></div>
        <div class='header reader-header reader-show-element'>
          <h1 class="reader-title">{{ article.title }}</h1>
          <div class="credits reader-credits">{{ article.byline }}</div>
          <div class="meta-data">
            <div class="reader-estimated-time" dir="{{ article.dir }}">{{ article.estimated }} placeholder:article.estimated</div>
          </div>
        </div>
        <hr>
        <div class="content">
          <div class="moz-reader-content reader-show-element">
            {{ article.content }}
          </div>
        </div>
      </div>
        <footer>
            <a class="domain reader-domain" href="{{ article.url }}">View in web...</a>
            <!-- <form action="reader:quit?destination={{ article.url }}&title={{ article.title }}" method="post">
                <button name="quit">Quit</button>-->
            </form>
        </footer>
    </body>
</html>
